<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modoop.admin.service.dao.RoleDao">

    <!-- 定义全局查询的SQL变量语句 -->
    <sql id="searchCondition">
        <where>
            <if test="name != null">name like '%${name}%'</if>
        </where>
    </sql>

    <!-- 查询语句 -->
    <select id="search" parameterType="map" resultMap="roleMap">
        SELECT id,name,description,create_time
        FROM role
        <include refid="searchCondition"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(1)
        FROM role
        <include refid="searchCondition"/>
    </select>

    <select id="findAll" resultMap="roleMap">
        SELECT id, name, permissions, description FROM role
    </select>

    <select id="findPermissions" resultType="Permission">
        SELECT * FROM permission
    </select>

    <select id="find" parameterType="long" resultMap="roleMap">
        SELECT * FROM role
        WHERE id = #{id};
    </select>

    <insert id="create" parameterType="Role" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO role (name,permissions,description,create_time,version)
        VALUE (#{name},#{permissions},#{description},#{createTime},0);
    </insert>

    <update id="update" parameterType="Role">
        UPDATE role
        <trim prefix="set">
            <if test="permissions != null">permissions=#{permissions},</if>
            <if test="description != null">description=#{description},</if>
        </trim>
        version = version + 1
        WHERE id = #{id} AND version = #{version}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM role WHERE id = #{id};
    </delete>

    <!-- 结果集mapper -->
    <resultMap id="roleMap" type="Role">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="permissions" column="permissions"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="version" column="version"/>
    </resultMap>

</mapper> 
